.img {
  height: 40px;
  width: 40px;
  padding: 10px 0; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 1024px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }

.nav__display {
  padding: 0; }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0; }

.nav-item {
  list-style-type: none;
  margin-right: 20px; }
  .nav-item:last-child {
    margin-right: 0; }

.link {
  font-family: Roboto, sans-serif;
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 60px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000; }
  .link:hover {
    color: #00acdc; }

.is-active {
  color: #00acdc; }
  .is-active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background-color: #00acdc;
    border-radius: 5px;
    width: 36px; }

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, sans-serif; }

.card {
  height: 403px;
  width: 200px;
  background: #fff;
  border: 1px solid #f3f3f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 30px 15px 15px; }
  .card__img {
    width: 160px;
    height: 134px;
    margin-left: 4px; }
  .card__link {
    text-decoration: none; }
  .card__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000;
    margin-top: 41px;
    margin-bottom: 0;
    margin-left: -1px; }
  .card__product_code {
    font-size: 11px;
    line-height: 13px;
    margin-top: 5px;
    margin-left: -1px; }
  .card__feedback {
    font-size: 11px;
    line-height: 13px;
    margin-top: 0;
    padding-left: 19px; }
  .card__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .card__price_name {
    font-size: 11px;
    line-height: 13px;
    margin-top: 14px;
    margin-left: -1px; }
  .card__price {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding-left: 60px;
    margin-top: 8px; }
  .card__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    margin-left: -1px; }
    .card__button_link {
      text-decoration: none; }
  .card__buy {
    width: 170px;
    height: 40px;
    background-color: #00acdc;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
    text-align: center;
    cursor: pointer; }
    .card__buy:hover {
      background-color: #fff;
      color: #00acdc;
      border: 1px solid #00acdc;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 5px;
      font-weight: bold;
      font-size: 14px;
      line-height: 40px; }
  .card__text {
    text-align: center;
    margin: 0 auto; }

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 17px; }
  .stars__img {
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    margin-right: 4px; }
    .stars__img:nth-child(-n+4) {
      background-image: url(../images/star-active.svg); }
    .stars__img:nth-child(5) {
      margin-right: 0; }

@media (max-width: 1199px) {
  .wrap--first,
  .wrap--second {
    margin-left: 40px;
    margin-right: 40px; }
  .card {
    margin-right: 48px; } }

@media (min-width: 1200px) {
  .wrap--first,
  .wrap--second {
    margin-left: 128px; }
  .card {
    margin-right: 48px; } }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 78px; }

.wrap--first,
.wrap--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px; }

/*# sourceMappingURL=main.css.map */
